{{!< default}}
{{#post}}
  {{> cover-page}}
  <section class="allies-page">
    {{> body-title}}
    {{#get "posts" filter="tag:aliados-categoria" as |categoria|}}
      {{#foreach categoria}}
        <div class="common-categories row">
          <div class="common-categories-content col-xs-6 col-md-7">
            <div class="title">{{title}}</div>
            <div class="content">{{content}}</div>
          </div>
          <div class="common-categories-image col-xs-6 col-md-5">
            <img src="{{image}}"
              class="img-responsive"/>
          </div>
        </div>
        <div class="common-categories-body row">
          {{#get "posts" filter="tag:aliados-categoria-{{slug}}" as |aliado|}}
            {{#foreach aliado}}
              <div class="col-xs-12 col-md-4">
                <img src="{{image}}"
                  class="img-responsive"
                  alt="{{title}}"/>
                <h3>{{title}}</h3>
                {{content}}
              </div>
            {{/foreach}}
          {{/get}}
        </div>
      {{/foreach}}
    {{/get}}
  </section>
{{/post}}
