<div class="logo-Contactos ">
<form id="form" data-toggle="validator" role="form" class="form contact-form" method="POST" action="/mail">
  {{#get "posts" filter="slug:contactos" as |contacts|}}
    {{#contacts}}
        <div class="contacts">
          <img src="{{image}}">
          <div class="title-contacts">
            <div>{{title}}</div>
          </div>
          <div class="content-contacts">{{content}}</div>
        </div>
    {{/contacts}}
  {{/get}}
  <div class="form-group">
    <input type="text" name="name" class="form-control" id="nameInput" placeholder="nombre" required>
  </div>
  <div class="form-group">
    <input type="email" name="email" class="form-control" id="emailInput" placeholder="e-mail" required>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="message" id="mensajeTextarea" rows="3" placeholder="mensaje" required ></textarea>
  </div>
  <div class="help-block with-errors"></div>
  <button type="submit" class="btn btn-primary submit-contact-form-btn">
    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    enviar
  </button>
  <p class="submitting-form hidden">Enviando..</p>
</form>
<div class="hidden">
  <script type="text/x-handlebars-template" class="contact-form-response-template">
    <div class='alert alert-{{escaped-raw "kind"}} fade-in'>
      <a href='#' class='close' data-dismiss='alert' aria-label='close' style='color:black; opacity:1;'>&times;</a>
      {{escaped-raw 'message'}}
    </div>
  </script>
</div>
</div>
